[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
urllib3 = "*"
pydantic = "*"

[dev-packages]
cmd2 = "*"
hassapi = "*"
appdaemon = "*"

[requires]
python_version = "3.10"
